.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.weather-app {
  box-sizing: none;
  width: 700px;
  padding: 65px;
  border-radius: 4%;
  margin: 100px auto;
  background: rgb(152, 184, 211);
}
.nospecial {
  text-decoration: none;
  list-style: none;
}
.weather-icon-dec {
  height: 80px;
  width: 80px;
  display: inline;
}
.temp-dec {
  font-size: 45px;
  display: inline;
  position: relative;
  top: 20px;
  left: 8px;
}
.credits {
  font-size: 11px;
  position: relative;
  right: -700px;
  top: -90px;
  color: rgb(152, 184, 211);
}
.align-left-dec {
  position: relative;
  right: 30px;
}
.specific-dec {
  top: 30px;
  position: relative;
}
.link-style {
  color: inherit;
  text-decoration: none;
}
li {
  text-transform: capitalize;
}
